@import "tailwindcss";

/* --- VARIANT DEFINITIONS --- */
@custom-variant dark (&:where(.dark, .dark *));

/* --- THEME DEFINITION FOR TAILWIND --- */
@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-text: hsl(var(--text));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
}

/* =========================
   LIGHT THEME
   ========================= */
:root {
  --background: 0 0% 100%;
  --foreground: 222 13% 19%;
  --primary: 222 13% 19%;
  --primary-foreground: 0 0% 98%;
  --text: 38 67% 94%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
}

/* =========================
   DARK THEME
   ========================= */
.dark {
  --background: 222 13% 19%;
  --foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --text: 0 0% 98%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  color: #ddd6cb;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}
